<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <%= stylesheet_link_tag "application", media: "all", "data-track-turbolinks" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="page">
    <%= react_component("Header") %>

    <section class="container">
      <%= yield %>
    </section>
  </div>

  <%= form_tag admin_logout_path, id: "logout-form", method: :delete %>
  <%= javascript_include_tag "application", "data-track-turbolinks" => true %>
  <%= yield(:scripts) %>
</body>
</html>
